* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(
        180deg,
        rgba(204,204,204,1) 0%,
        rgba(238,238,238,1) 50%,
        rgba(204,204,204,1) 100 
    );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 50vh;
}

.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    padding: 0 20px;
    text-transform: capitalize;
    color: #222222;
    font-size: 18px;
}

li a {
    font-size: 18px;
    color: #222222;
    text-transform: capitalize;
}


.swiper-hero {
    padding: 10px;
    width: 30%;
    height: 100%;  
}

swiper-hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
